@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Regular.eot');
  src: local('TT Norms Regular'), local('TTNorms-Regular'),
  url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Regular.woff') format('woff'),
  url('../fonts/TTNorms-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Bold.eot');
  src: local('TT Norms Bold'), local('TTNorms-Bold'),
  url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Bold.woff') format('woff'),
  url('../fonts/TTNorms-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Medium.eot');
  src: local('TT Norms Medium'), local('TTNorms-Medium'),
  url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Medium.woff') format('woff'),
  url('../fonts/TTNorms-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: local('Phenomena'), local('Phenomena-Regular'),
  url('../fonts/Phenomena.woff2') format('woff2'),
  url('../fonts/Phenomena.woff') format('woff'),
  url('../fonts/Phenomena.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: local('Phenomena Bold'),
  local('Phenomena-Bold'),
  url('../fonts/Phenomenabold.woff2') format('woff2'),
  url('../fonts/Phenomenabold.woff') format('woff'),
  url('../fonts/Phenomenabold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'ALSRubl-Tahoma';
  src: url("../fonts/alsrubl-tahoma-regular.eot");
  src: url("../fonts/alsrubl-tahoma-regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/alsrubl-tahoma-regular.woff") format("woff"),
  url("../fonts/alsrubl-tahoma-regular.ttf") format("truetype"),
  url("../fonts/alsrubl-tahoma-regular.svg#ALSRublTahomaItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALSRubl-Tahoma';
  src: url("../fonts/alsrubl-tahoma-bold.eot");
  src: url("../fonts/alsrubl-tahoma-bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/alsrubl-tahoma-bold.woff") format("woff"),
  url("../fonts/alsrubl-tahoma-bold.ttf") format("truetype"),
  url("../fonts/alsrubl-tahoma-bold.svg#ALSRublTahomaItalic") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('../fonts/Caveat-Bold.eot');
  src: local('Caveat Bold'), local('Caveat-Bold'),
  url('../fonts/Caveat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Caveat-Bold.woff') format('woff'),
  url('../fonts/Caveat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

$font-p:    Phenomena, sans-serif;
$color_hover:    #bea68f;