.voessen__header-mob,
.mobile-nav,
.only-mob,
.only-w7 {
  display: none;
}

@media screen and (max-width: 1199px) {
  .voessen__header__col-logo .voessen__header__logo {
    display: block !important;

    .voessen__header__logo__slogan {
      padding: 15px 0 0 0;

      &::after {
        display: none;
      }
    }
  }
  .voessen__header__main-nav .navbar-nav--main > .nav-item > .nav-link {
    font-size: 12px;
  }
  .voessen__box-ico {
    padding: 0;
  }
  .voessen__personal-account__header__nav .nav-item:not(:last-child) {
    padding-right: 15px;
  }
}

@media screen and (max-width: 991px) {
  .voessen__header,
  .voessen__fix-nav.active {
    display: none !important;
  }
  .voessen__header-mob {
    display: block;
    padding: 10px 0;
  }
  .mobile-nav {
    display: block;
  }
  .voessen__header-mob__row {
    display: flex;
    align-items: center;
  }
  .voessen__header-mob__row__left,
  .voessen__header-mob__row__right {
    display: flex;
    align-items: center;
    flex-basis: 33%;
    justify-content: space-between;
  }
  .voessen__header-mob__row__center {
    display: flex;
    align-items: center;
    flex-basis: 34%;
    justify-content: center;
  }
  .voessen__header-mob__row__left a {
    color: #0092d2;
  }
  .voessen__header-mob__row__right .nav__shop li a .nav__shop__count {
    top: 0;

    &.nav__shop__count--empty {
      margin-top: 2px;
    }
  }
  .voessen__right-border {
    border-right: none;
  }
  .voessen__promo-box {
    padding: 20px;
  }
  .voessen__home-slider .voessen__home-slider__item {
    padding-top: 30px;
  }
  .voessen__home-slider .voessen__home-slider__item .voessen__home-slider__item__desc {
    height: auto;
    justify-content: flex-start;
  }
  .voessen__footer__contacts {
    display: flex;
    flex-wrap: wrap;
  }
  .voessen__footer__col-phone {
    flex-basis: 50%;
  }
  .voessen__header-caption__col-title {
    order: 1;
  }
  .voessen__header-caption__col-tabs {
    order: 3;
    padding-top: 30px;
  }
  .voessen__header-caption__col-more-link {
    order: 2;
  }
  .nav-tabs {
    margin-left: 0;

    .nav-item {
      .nav-link {
        height: 36px;
        border: 1px solid #0092d2;
        min-width: 130px;
        text-align: center;
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          border-bottom: none;
          color: #0092d2;
        }

        &.active {
          span {
            color: #fff;
          }
        }
      }
    }
  }
  .mobile-nav__title {
    display: flex;
    padding: 0 50px;
    position: relative;
    z-index: 1;

    .mobile-nav__close {
      position: absolute;
      top: 0;
      left: 0;
      height: 50px;
      width: 50px !important;
      color: #000;
    }

    .mobile-nav__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 100%;
    }
  }

  .voessen__personal-account__header {
    .navbar-brand {
      display: flex;
      align-items: center;
      padding: 10px;
      height: 40px;
      font-size: 14px;
      line-height: 20px;
      color: #000;
      svg {
        margin-right: 10px;
      }
    }
    .navbar-toggler {
      padding: 10px;
      height: 40px;
      width: 40px;
      position: relative;
      background-color: #0092d2;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
    }
  }
  .voessen__personal-account__header .navbar {
    position: static;
  }
  .collapse--lk {
    position: absolute;
    background-color: #fff;
    z-index: 100;
    top: 0;
    left: 0;
  }

  .voessen__personal-account__header__nav .nav-item {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 12px !important;
  }

  .voessen__personal-account__header__nav .nav-link {
    max-width: 696px;
    margin: 0 auto;
  }
  .voessen__personal-account__header__nav__title {
    max-width: 696px;
    width: 100%;
  }
  .voessen__personal-account__header__nav {
    padding: 0;
  }
  .voessen__personal-account__header__nav .nav-item.nav-item--mob {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    span {
      color: #000;
      font-size: 14px;
      line-height: 18px;
      font-weight: bold;
    }
    a {
      color: #000;
      padding: 10px 0 10px 10px;
    }
  }
  .voessen__modal::after {
    width: 100%;
  }
  .voessen__modal__close {
    color: #fff;
  }
  .voessen__modal {
    .min-vh-100 {
      min-height: auto !important;
    }
  }
  .voessen__modal__left__content .voessen__modal__left__logo {
    margin-bottom: 40px;
  }
  .voessen__modal__left__content {
    padding-bottom: 30px;
  }
  .voessen__modal__right {
    background-color: #fff;
    padding-top: 30px;
    border-radius: 20px 20px 0 0;
    padding-bottom: 40px;
  }
  .voessen__modal__left__content li {
    padding-bottom: 10px;
  }
  .voessen__lk-home__logo {
    display: block;
    margin: 0 auto 20px;
  }
  .voessen__lk-home__text {
    text-align: center;
  }
  .voessen__product__table-list-product .table td {
    font-size: 14px;
    line-height: 16px;
  }
  .voessen__table {
    min-width: 800px;
  }
  .voessen__form__edit-nav a {
    font-size: 14px;
    line-height: 18px;
  }
  .voessen__table--mob {
    width: 100% !important;
    display: block;
    max-width: 100%;
    min-width: 100% !important;
    thead {
      display: none;
    }
    tbody {
      display: block;
      tr {
        display: block;
        margin-bottom: 10px;
      }
    }

    td {
      display: block;
      position: relative;
      padding-left: 110px;
      border-top: none !important;
      border-bottom-color: #e1e1e1 !important;
    }
  }
  .voessen__table__label-mob {
    display: block;
    position: absolute;
    z-index: 10;
    top: 6px;
    left: 0;
    width: 100px;
    font-size: 14px;
    line-height: 18px;
    color: #000;
  }
  .voessen__table__mob-footer {
    padding-left: 0 !important;
    border-bottom: none !important;
  }
  .voessen__form__list-order-lk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    .only-w7 {
      display: block;
      a {
        color: #0092d2 !important;
        text-decoration: none;
      }
    }
  }
  .voessen__form__edit-nav a svg {
    width: 18px;
    min-width: 18px;
  }
}

@media screen and (max-width: 768px) {
  .voessen__personal-account {
    padding-top: 10px;
  }
  .voessen__personal-account__header {
    margin-bottom: 10px;
  }
  .f-mar40 {
    margin-bottom: 10px;
  }
  .voessen__home-slider .voessen__home-slider__item {
    height: auto;
    min-height: 600px;
    padding-bottom: 200px;
    background-size: 100% auto;
    background-color: #cff0ff;
    background-position: 50% 100%;

    .voessen__home-slider__item__title {
      font-size: 24px;
      line-height: 30px;
    }
  }
  .voessen__btn-green {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    text-align: center;

    &::before {
      display: none;
    }
  }
  .voessen__table {
    min-width: 700px;
  }
  .voessen__home-slider {
    margin-bottom: 35px;
  }
  .fpad50 {
    padding-bottom: 20px;
  }
  .voessen__box-ico {
    display: flex;

    .voessen__box-ico__img {
      flex-basis: 80px;
      min-width: 80px;
      display: flex;
      justify-content: center;
      padding-right: 10px;
    }

    .voessen__box-ico__text {
      flex-basis: 120px;
      flex-grow: 1;
    }
  }
  .voessen__silver {
    padding: 25px 0;
  }
  h2, .h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .voessen__more-link {
    font-size: 14px;
  }
  .tpad85, .tpad50 {
    padding-top: 25px;
  }
  .fpad80 {
    padding-bottom: 25px;
  }
  .nav-tabs li {
    margin-bottom: 10px;
  }
  .text h3, .text .h3 {
    font-size: 20px;
  }
  .voessen__footer__bottom {
    justify-content: center;
  }
  .voessen__order-finish {
    padding: 30px;
  }
  .voessen__personal-account__header__nav .nav-link {
    max-width: 516px;
  }
  .voessen__personal-account__header__nav__title {
    max-width: 516px;
  }
  .voessen__form__edit-nav {
    flex-basis: 100%;
    padding-top: 10px;
  }
  .voessen__modal__right {
    padding-left: 40px;
    padding-right: 40px;
  }
  .modal-dialog.modal-dialog--support {
    max-width: 100%;
    .modal-content {
      padding: 25px 15px;

      .btn-close {
        right: 15px;
        top: 5px;
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
      }
    }
  }
  .voessen__form__ps {
    padding-bottom: 10px;
  }
  .voessen__form__header {
    flex-wrap: wrap;
    &__support {
      flex-basis: 100%;
      padding-top: 15px;
      flex-wrap: wrap;
      .voessen__form__filter__search {
        flex-basis: 100%;
        margin-bottom: 15px;
      }
      .voessen__btn-green--min {
        margin-left: auto;
      }
    }
  }
  .voessen__form--pading {
    padding: 15px;
  }
  .voessen__form__group__header {
    display: block;
  }
  .voessen__personal-account__nav-top {
    padding-left: 0;
    border-left: none;
  }
}

@media screen and (max-width: 574px) {

  .voessen__wrap-slider {
    margin: 0 -15px;

    .swiper-slide {
      width: 210px;
      padding: 5px;
    }

    .voessen__slider-product__nav {
      display: none;
    }
  }
  .voessen__baner {
    padding: 50px 20px;
  }
  .voessen__item-product__col-count {
    padding-bottom: 20px;
    order: -1;
  }
  .voessen__product__count-box {
    padding: 0 35px;

    .voessen__product__count-box__nav {
      width: 35px;
      height: 50px;
      top: 0;

      &.voessen__product__count-box__nav--minus {
        left: -1px;
        right: auto;
        bottom: auto;
      }
    }
  }
  .voessen__item-product__btn-bay {
    order: 3;

    .btn-cart {
      .btn-cart__icon {
        position: relative;
        left: auto;
        margin: 0;
        top: auto;
      }

      span {
        display: none;
      }
    }
  }
  .col-mob-fav {
    order: 2;
    flex: 0 0 auto;
    width: 50%;

    .voessen__item-product__fav {
      position: relative;
      top: auto;
      right: auto;
      height: 50px;
      background-color: #0092d2;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
  }
  .voessen__item-product .voessen__item-product__quantity b {
    text-align: right;
  }
  .voessen__item-product .voessen__item-product__img {
    height: 200px;
  }
  .voessen__subscribe__title {
    font-size: 20px;
    text-align: center;
  }
  .voessen__subscribe__text {
    text-align: center;
    font-size: 16px;
  }
  .voessen__subscribe__form > .d-flex {
    display: block !important;
  }
  .voessen__subscribe__form__col-inp {
    margin-bottom: 20px;

    .form-control {
      border-right: 1px solid #77c1e1;
      text-align: center;
    }
  }
  .voessen__subscribe__form__col-submit {
    margin-bottom: 20px;

    .voessen__btn-green {
      text-align: center;
      justify-content: center;
    }
  }
  .voessen__subscribe__form__ps {
    padding: 0;
    text-align: center;
    line-height: 16px;
  }
  .voessen__footer {
    padding-top: 85px;
    position: relative;

    .voessen__footer__logo {
      margin: 0;
      position: absolute;
      z-index: 10;
      top: 35px;
      left: 0;
      right: 0;
      text-align: center;
    }

    .voessen__footer__col-phone {
      flex-basis: 100%;
      text-align: center;
    }

    .voessen__header__work-time {
      display: inline-block;
    }
  }
  .nav--footer {
    display: none !important;
  }
  .nav--footer-soc {
    padding-top: 0;
    padding-bottom: 30px;
    justify-content: center;
    width: 100%;
  }
  .voessen__footer__bottom .voessen__footer__copy {
    text-align: center;
  }
  .voessen__number-box__number {
    font-size: 72px;
  }
  .voessen__promo-box__caption {
    font-size: 20px;
  }
  .voessen__order-finish {
    padding: 30px 15px;
  }
  .voessen__inst {
    display: none;
  }
  .voessen__form__header {
    h2 {
      font-size: 18px;
      line-height: 20px;
    }
  }
  .voessen__form__group__header h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .voessen__personal-account .voessen__form {
    padding: 15px;
  }
  .voessen__modal__right {
    margin-left: -12px;
    margin-right: -12px;
    padding: 20px;
    border-radius: 10px 10px 0 0;
  }
  .voessen__modal__close svg {
    width: 12px;
    height: 12px;
  }
  .voessen__modal .voessen__modal__left__logo {
    width: 80px !important;
    height: auto !important;
    margin-top: 5px;
    margin-bottom: 20px !important;
  }
  .voessen__modal__left__content h3 {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 12px;
  }
  .voessen__modal__left__content li {
    padding-left: 20px;
    background-position: 0 5px;
    background-size: 10px auto;
    font-size: 14px;
    line-height: 20px;
  }
  .voessen__modal__mob-row {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .voessen__modal__mob-col-bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .voessen__modal__right {
      flex-grow: 1;
    }
  }
  .only-mob {
    display: block !important;
  }
  .voessen__modal__form__nav-top {
    padding-bottom: 15px;
    .voessen__btn2 {
      flex-basis: 125px;
      max-width: 125px;
      text-align: center;
      height: 32px;
      color: #0092d2;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 16px;
      font-weight: bold;
      border: 1px solid #0092d2;
      text-decoration: none;
      &--active {
        border-color: #9c9c9c;
        color: #9c9c9c;
      }
    }
  }
  .voessen__modal__form__title {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 15px;
  }
  .voessen__modal__right .voessen__form__inp-box--v2 {
    padding-bottom: 15px;
  }
  .mob-hidden {
    display: none;
  }
  .voessen__modal__form__footer button {
    margin-bottom: 0;
  }
  .voessen__modal__form {
    .fpad30 {
      padding-bottom: 15px;
    }
  }
  .voessen__modal__form__footer {
    padding: 0;
  }
  .voessen__modal__left__content {
    padding-bottom: 10px;
  }
  .voessen__pagination__prev {
    margin-right: auto;
  }
  .voessen__pagination__next {
    margin-left: auto;
  }
  .voessen__pagination .voessen__pagination__item {
    margin-right: 2px;
    margin-left: 2px;
  }
  .voessen__lk-home__text {
    h3 {
      font-size: 16px !important;
      padding-bottom: 15px !important;
      line-height: 20px !important;
    }
    .voessen__btn-green {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .voessen__lk-home__logo {
    width: 175px;
    height: auto;
  }
  .voessen__text {
    p,
    & li {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .voessen__text h4, .voessen__text .h4 {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 15px;
  }
}


@media screen and (max-width: 440px) {
  .voessen__header-caption__col-tabs {

    margin-right: -15px;
    padding-left: 0;
    padding-right: 0;
    width: 100vw !important;
    .nav-tabs {
      flex-wrap: nowrap;
      padding-left: 15px;
      .nav-item.swiper-slide {
        flex-basis: auto;
        width: auto;
      }
    }
  }
  .voessen__personal-account__nav-top {
    padding-left: 0;
    border: none;
  }
}