.voessen__header-mob,
.mobile-nav,
.only-mob,
.only-w7,
.voessen__tab-box__mob-accordion {
  display: none;
}

@media screen and (max-width: 1199px) {
  .voessen__header__col-logo .voessen__header__logo {
    display: block !important;

    .voessen__header__logo__slogan {
      padding: 15px 0 0 0;

      &::after {
        display: none;
      }
    }
  }
  .voessen__header__main-nav .navbar-nav--main > .nav-item > .nav-link {
    font-size: 12px;
  }
  .voessen__box-ico {
    padding: 0;
  }
  .voessen__personal-account__header__nav .nav-item:not(:last-child) {
    padding-right: 15px;
  }
  .voessen__product__sb__list-check {
    overflow-y: auto;
  }
  .voessen__box-scroll {
    width: 100%;
    overflow-x: auto;
    &__inner {
      min-width: 1180px;
    }
  }
}

@media screen and (max-width: 991px) {
  .voessen__header,
  .voessen__fix-nav.active {
    display: none !important;
  }
  .hidden-911 {
    display: none !important;
  }
  .voessen__product__sb.voessen__filter {
    margin-bottom: 5px;
  }
  .voessen__header-mob {
    display: block;
    padding: 10px 0;
  }
  .mobile-nav {
    display: block;
  }
  .voessen__header-mob__row {
    display: flex;
    align-items: center;
  }
  .voessen__header-mob__row__left,
  .voessen__header-mob__row__right {
    display: flex;
    align-items: center;
    flex-basis: 33%;
    justify-content: space-between;
  }
  .voessen__header-mob__row__center {
    display: flex;
    align-items: center;
    flex-basis: 34%;
    justify-content: center;
  }
  .voessen__header-mob__row__left a {
    color: #0092d2;
  }
  .voessen__header-mob__row__right .nav__shop li a .nav__shop__count {
    top: 0;

    &.nav__shop__count--empty {
      margin-top: 2px;
    }
  }
  .voessen__right-border {
    border-right: none;
  }
  .voessen__promo-box {
    padding: 20px;
  }
  .voessen__home-slider .voessen__home-slider__item {
    padding-top: 30px;
  }
  .voessen__home-slider .voessen__home-slider__item .voessen__home-slider__item__desc {
    height: auto;
    justify-content: flex-start;
  }
  .voessen__footer__contacts {
    display: flex;
    flex-wrap: wrap;
  }
  .voessen__footer__col-phone {
    flex-basis: 50%;
  }
  .voessen__header-caption__col-title {
    order: 1;
  }
  .voessen__header-caption__col-tabs {
    order: 3;
    padding-top: 30px;
  }
  .voessen__header-caption__col-more-link {
    order: 2;
  }
  .nav-tabs {
    margin-left: 0;

    .nav-item {
      .nav-link {
        height: 36px;
        border: 1px solid #0092d2;
        min-width: 130px;
        text-align: center;
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          border-bottom: none;
          color: #0092d2;
        }

        &.active {
          span {
            color: #fff;
          }
        }
      }
    }
  }
  .mobile-nav__title {
    display: flex;
    padding: 0 50px;
    position: relative;
    z-index: 1;

    .mobile-nav__close {
      position: absolute;
      top: 0;
      left: 0;
      height: 50px;
      width: 50px !important;
      color: #000;
    }

    .mobile-nav__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 100%;
    }
  }
  .voessen__title-box__col-link {
    display: none;
  }
  .voessen__personal-account__header {
    .navbar-brand {
      display: flex;
      align-items: center;
      padding: 10px;
      height: 40px;
      font-size: 14px;
      line-height: 20px;
      color: #000;
      svg {
        margin-right: 10px;
      }
    }
    .navbar-toggler {
      padding: 10px;
      height: 40px;
      width: 40px;
      position: relative;
      background-color: #0092d2;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
    }
  }
  .voessen__personal-account__header .navbar {
    position: static;
  }
  .collapse--lk {
    position: absolute;
    background-color: #fff;
    z-index: 100;
    top: 0;
    left: 0;
  }

  .voessen__personal-account__header__nav .nav-item {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 12px !important;
  }

  .voessen__personal-account__header__nav .nav-link {
    max-width: 696px;
    margin: 0 auto;
  }
  .voessen__personal-account__header__nav__title {
    max-width: 696px;
    width: 100%;
  }
  .voessen__personal-account__header__nav {
    padding: 0;
  }
  .voessen__personal-account__header__nav .nav-item.nav-item--mob {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    span {
      color: #000;
      font-size: 14px;
      line-height: 18px;
      font-weight: bold;
    }
    a {
      color: #000;
      padding: 10px 0 10px 10px;
    }
  }
  .voessen__modal::after {
    width: 100%;
  }
  .voessen__modal__close {
    color: #fff;
  }
  .voessen__modal {
    .min-vh-100 {
      min-height: auto !important;
    }
  }
  .voessen__modal__left__content .voessen__modal__left__logo {
    margin-bottom: 40px;
  }
  .voessen__modal__left__content {
    padding-bottom: 30px;
  }
  .voessen__modal__right {
    background-color: #fff;
    padding-top: 30px;
    border-radius: 20px 20px 0 0;
    padding-bottom: 40px;
  }
  .voessen__modal__left__content li {
    padding-bottom: 10px;
  }
  .voessen__lk-home__logo {
    display: block;
    margin: 0 auto 20px;
  }
  .voessen__lk-home__text {
    text-align: center;
  }
  .voessen__product__table-list-product .table td {
    font-size: 14px;
    line-height: 16px;
  }
  .voessen__table {
    min-width: 800px;
  }
  .voessen__form__edit-nav a {
    font-size: 14px;
    line-height: 18px;
  }
  .voessen__table--mob {
    width: 100% !important;
    display: block;
    max-width: 100%;
    min-width: 100% !important;
    thead {
      display: none;
    }
    tbody {
      display: block;
      tr {
        display: block;
        margin-bottom: 10px;
      }
    }

    td {
      display: block;
      position: relative;
      padding-left: 110px;
      border-top: none !important;
      border-bottom-color: #e1e1e1 !important;
      font-size: 14px;
      line-height: 18px;
    }
  }
  .voessen__table__label-mob {
    display: block;
    position: absolute;
    z-index: 10;
    top: 6px;
    left: 0;
    width: 100px;
    font-size: 14px;
    line-height: 18px;
    color: #000;
  }
  .voessen__table__mob-footer {
    padding-left: 0 !important;
    border-bottom: none !important;
  }
  .voessen__form__list-order-lk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    .only-w7 {
      display: block;
      a {
        color: #0092d2 !important;
        text-decoration: none;
      }
    }
  }
  .voessen__form__edit-nav a svg {
    width: 18px;
    min-width: 18px;
  }
  .voessen__filter__mob-title {
    height: 40px;
    span {
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
    }
  }
  .voessen__filter {
    .navbar-brand {
      display: block
    }
  }
  .voessen__item-product__fav {
    right: 55%;
  }
  .col-w120,
  .col-w100,
  .col-w200,
  .col-w-min {
    flex-basis: 33%;
    max-width: 33%;
  }
  .voessen__banner__caption {
    font-size: 18px;
    line-height: 24px;
  }
  .voessen__product__col-pic .voessen__item-product__fav {
    display: none;
  }
  .voessen__item-product__fav-btn {
    position: relative;
    top: auto;
    right: auto;
    height: 50px;
    background-color: #0092d2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .voessen__tab-box__header .nav-item {
    padding-right: 0;
  }
  .td-btn {
    width: 100%;
  }
  .voessen__page-bg {
    background-size: 1000px auto;
  }
  .voessen__subscribe {
    .voessen__subscribe__form__ps {
      line-height: 18px;
      padding-left: 0;
      padding-bottom: 15px;
    }
    .voessen__btn-green {
      width: 100%;
    }
  }
  .voessen__product__square__sub-nav .voessen__sub-catalog-hover {
    position: relative;
    top: auto;
    left: auto;
    opacity: 1;
    visibility: visible;
    background-color: #fff;
    flex-grow: 1;
    padding: 0;
    width: auto;
    .voessen__sub-catalog-hover__formula {
      display: none;
    }
  }
  .voessen__product__square__sub-nav {
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    height: auto;
    min-height: 100%;
  }
  .voessen__product__square__inner {
    flex-basis: 120px;
    max-width: 120px;
    padding-right: 10px;
    text-align: center;
  }
  .voessen__product__square .voessen__product__name {
    padding-top: 10px;
  }
  .voessen__product__square__sub-nav .voessen__sub-catalog-hover .voessen__sub-catalog-hover__nav li a {
    color: #515151;
  }
  .voessen__equipment__img {
    border-right: none;
    height: auto;
    figure {
      border-bottom: 1px solid #e6e6e6;
      width: 100%;
      display: flex;
      margin: 0 0 10px 0;
      padding: 10px;
      img {
        margin: 0;
        border: none;
      }
      ficaption {
        flex-grow: 1;
        padding: 10px 0 0 10px;
        text-align: left;
      }
    }
  }
  .voessen__equipment__nav ul {
    padding: 0 20px;
  }
  .voessen__equipment {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .voessen__personal-account {
    padding-top: 10px;
  }
  .voessen__personal-account__header {
    margin-bottom: 10px;
  }
  .f-mar40 {
    margin-bottom: 10px;
  }
  .voessen__home-slider .voessen__home-slider__item {
    height: auto;
    min-height: 600px;
    padding-bottom: 200px;
    background-size: 100% auto;
    background-color: #cff0ff;
    background-position: 50% 100%;

    .voessen__home-slider__item__title {
      font-size: 24px;
      line-height: 30px;
    }
  }
  .voessen__btn-green {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    text-align: center;

    &::before {
      display: none;
    }
  }
  .voessen__text__caption-ico {
    padding-bottom: 15px;
    min-height: 60px;
  }
  .voessen__table {
    min-width: 700px;
  }
  .voessen__home-slider {
    margin-bottom: 35px;
  }
  .fpad50 {
    padding-bottom: 20px;
  }
  .voessen__box-ico {
    display: flex;

    .voessen__box-ico__img {
      flex-basis: 80px;
      min-width: 80px;
      display: flex;
      justify-content: center;
      padding-right: 10px;
    }

    .voessen__box-ico__text {
      flex-basis: 120px;
      flex-grow: 1;
    }
  }
  .voessen__silver {
    padding: 25px 0;
  }
  h2, .h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .voessen__more-link {
    font-size: 14px;
  }
  .tpad85, .tpad50 {
    padding-top: 25px;
  }
  .fpad80 {
    padding-bottom: 25px;
  }
  .nav-tabs li {
    margin-bottom: 10px;
  }
  .text h3, .text .h3 {
    font-size: 20px;
  }
  .voessen__footer__bottom {
    justify-content: center;
  }
  .voessen__order-finish {
    padding: 30px;
  }
  .voessen__personal-account__header__nav .nav-link {
    max-width: 516px;
  }
  .voessen__personal-account__header__nav__title {
    max-width: 516px;
  }
  .voessen__form__edit-nav {
    flex-basis: 100%;
    padding-top: 10px;
  }
  .voessen__modal__right {
    padding-left: 40px;
    padding-right: 40px;
  }
  .modal-dialog.modal-dialog--support {
    max-width: 100%;
    .modal-content {
      padding: 25px 15px;

      .btn-close {
        right: 15px;
        top: 5px;
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
      }
    }
  }
  .voessen__form__ps {
    padding-bottom: 10px;
  }
  .voessen__form__header {
    flex-wrap: wrap;
    &__support {
      flex-basis: 100%;
      padding-top: 15px;
      flex-wrap: wrap;
      .voessen__form__filter__search {
        flex-basis: 100%;
        margin-bottom: 15px;
      }
      .voessen__btn-green--min {
        margin-left: auto;
      }
    }
  }
  .voessen__form--pading {
    padding: 15px;
  }
  .voessen__form__group__header {
    display: block;
  }
  .voessen__personal-account__nav-top {
    padding-left: 0;
    border-left: none;
  }
  .voessen__form--mob {
    padding: 0 !important;
    background-color: transparent !important;
    .voessen__form__header {
      padding: 15px 10px;
      background-color: #fff;
      margin-bottom: 10px;
      .voessen__form__header__order-top__info {
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 5px;
      }
    }
    .voessen__table--mob tbody tr {
      padding: 10px;
      margin-bottom: 10px;
      background-color: #fff;
    }
    .voessen__product__table__mob-product {
      padding-left: 0 !important;
    }
    .voessen__product__table__card-pr__img {
      flex-basis: 100px;
      min-width: 100px;
      height: 100px;
      border: none;
    }
    .voessen__product__table__card-pr__desc {
      padding-left: 10px;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 110px;
    }
    .voessen__product__table__card-pr .voessen__product__table__card-pr__title {
      flex-basis: auto;
      padding-right: 0;
      flex-grow: 1;
      padding-bottom: 10px;
    }
    .voessen__product__table__card-pr .voessen__product__table__card-pr__count {
      width: 100%;
      flex-basis: auto;
      margin-top: auto;
    }
    .voessen__product__table-list-product .table tbody tr td:last-child {
      border-bottom: none !important;
    }
    .voessen__personal-account__order-itog {
      padding: 0 10px 10px;
      background-color: #fff;
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  .fonts24 {
    font-size: 18px;
    line-height: 24px;
  }
  .voessen__form__item-doc{
    &:not(:last-child) {
      border-bottom: 1px solid #e6e6e6;
    }
    border: 1px solid #e6e6e6;
    padding: 10px !important;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .voessen__item-art .voessen__item-art__wrap {
    padding: 20px;
  }
  .nav-tabs .nav-item .nav-link {
    height: auto;
  }
  .voessen__full-banner {
    margin-bottom: 20px;
  }
  .voessen__subcat-link {
    padding: 20px;
  }
  .fpad30 {
    padding-bottom: 10px;
  }
  .voessen__title-box h1, .voessen__title-box .h1 {
    padding-right: 0;
    font-size: 24px;
    line-height: 30px;
  }
  .voessen__breadcrumbs {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .voessen__item-product--mob-col {
    .col-mob-fav {
      width: 25%;
    }
    .voessen__item-product__col-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .voessen__text h2,
  .voessen__text .h2 {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .nav--view {
    display: none !important;
  }
  .voessen__product__card-bay {
    padding: 15px 10px;
  }
  .h4 {
    font-size: 16px;
    line-height: 20px;
  }
  .voessen__product__card-bay .voessen__item-product__price .voessen__item-product__price__value {
    font-size: 18px;
    line-height: 24px;
  }
  .voessen__tab-box__header .nav-item {
    padding: 0 10px;
  }
  .voessen__tab-box__body {
    padding: 15px 10px;
    .table-responsive {
      .table {
        width: 700px;
      }

    }
  }
  .voessen__tab-box__header--product {
    display: none;
  }
  .voessen__tab-box__mob-accordion {
    display: block;
  }
  .voessen__tab-box__body--product {
    padding: 0;
  }
  .voessen__tab-box {
    background-color: transparent;
  }
  .voessen__tab-box__body__item {
    margin-bottom: 5px;
    background-color: #fff;
    .accordion-button {
      background-color: #fff;
      justify-content: flex-start;
      padding: 15px 30px 15px 10px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid #f3f3f3;
      text-align: left;
      color: #000 !important;
      font-size: 16px;
      line-height: 1;
      position: relative;
      &::after {
        width: 20px;
        position: absolute;
        z-index: 10;
        right: 10px;
        display: block;
        height: 45px;
        top: 0;
        background-position: 50% 50%;
      }
    }
    &__inner {
      padding: 20px 10px;
      color: #525252;
    }
  }
  .voessen__product__square {
    height: auto;
  }
  .voessen__subscribe__form__ps {
    padding-bottom: 15px !important;
  }
  .voessen__form__inp-box {
    padding-bottom: 15px;
  }
  .voessen__page404 {
    .h2 {
      text-align: center;
    }
  }
  .voessen__product__sort-top {
    padding: 15px 10px;
    .voessen__product__col-sort {
      width: 100%;
      justify-content: space-between;
    }
    .voessen__product__col-sort label {
      padding-right: 2px;
    }
    .ml-3 {
      margin-left: 2px;
    }
  }
}

@media screen and (max-width: 574px) {

  .voessen__wrap-slider {
    margin: 0 -15px;

    .swiper-slide {
      width: 210px;
      padding: 5px;
    }

    .voessen__slider-product__nav {
      display: none;
    }
  }
  .voessen__baner {
    padding: 50px 20px;
  }
  .voessen__item-product__col-count {
    padding-bottom: 20px;
    order: -1;
  }
  .voessen__product__count-box {
    padding: 0 35px;

    .voessen__product__count-box__nav {
      width: 35px;
      height: 50px;
      top: 0;

      &.voessen__product__count-box__nav--minus {
        left: -1px;
        right: auto;
        bottom: auto;
      }
    }
  }
  .voessen__item-product__btn-bay {
    order: 3;

    .btn-cart {
      .btn-cart__icon {
        position: relative;
        left: auto;
        margin: 0;
        top: auto;
      }

      span {
        display: none;
      }
    }
  }
  .col-mob-fav {
    order: 2;
    flex: 0 0 auto;
    width: 50%;

    .voessen__item-product__fav {
      position: relative;
      top: auto;
      right: auto;
      height: 50px;
      background-color: #0092d2;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
  }
  .voessen__item-product .voessen__item-product__quantity b {
    text-align: right;
  }
  .voessen__item-product .voessen__item-product__img {
    height: 200px;
  }
  .voessen__subscribe__title {
    font-size: 20px;
    text-align: center;
  }
  .voessen__subscribe__text {
    text-align: center;
    font-size: 16px;
  }
  .voessen__subscribe__form > .d-flex {
    display: block !important;
  }
  .voessen__subscribe__form__col-inp {
    margin-bottom: 20px;

    .form-control {
      border-right: 1px solid #77c1e1;
      text-align: center;
    }
  }
  .voessen__subscribe__form__col-submit {
    margin-bottom: 20px;

    .voessen__btn-green {
      text-align: center;
      justify-content: center;
    }
  }
  .voessen__subscribe__form__ps {
    padding: 0;
    text-align: center;
    line-height: 16px;
  }
  .voessen__footer {
    padding-top: 85px;
    position: relative;

    .voessen__footer__logo {
      margin: 0;
      position: absolute;
      z-index: 10;
      top: 35px;
      left: 0;
      right: 0;
      text-align: center;
    }

    .voessen__footer__col-phone {
      flex-basis: 100%;
      text-align: center;
    }

    .voessen__header__work-time {
      display: inline-block;
    }
  }
  .nav--footer {
    display: none !important;
  }
  .nav--footer-soc {
    padding-top: 0;
    padding-bottom: 30px;
    justify-content: center;
    width: 100%;
  }
  .voessen__footer__bottom .voessen__footer__copy {
    text-align: center;
  }
  .voessen__number-box__number {
    font-size: 72px;
  }
  .voessen__promo-box__caption {
    font-size: 20px;
  }
  .voessen__order-finish {
    padding: 30px 15px;
  }
  .voessen__inst {
    display: none;
  }
  .voessen__form__header {
    h2 {
      font-size: 18px;
      line-height: 20px;
    }
  }
  .voessen__form__group__header h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .voessen__personal-account .voessen__form {
    padding: 15px;
  }
  .voessen__modal__right {
    margin-left: -12px;
    margin-right: -12px;
    padding: 20px;
    border-radius: 10px 10px 0 0;
  }
  .voessen__modal__close svg {
    width: 12px;
    height: 12px;
  }
  .voessen__modal .voessen__modal__left__logo {
    width: 80px !important;
    height: auto !important;
    margin-top: 5px;
    margin-bottom: 20px !important;
  }
  .voessen__modal__left__content h3 {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 12px;
  }
  .voessen__modal__left__content li {
    padding-left: 20px;
    background-position: 0 5px;
    background-size: 10px auto;
    font-size: 14px;
    line-height: 20px;
  }
  .voessen__modal__mob-row {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .voessen__modal__mob-col-bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .voessen__modal__right {
      flex-grow: 1;
    }
  }
  .only-mob {
    display: block !important;
  }
  .voessen__modal__form__nav-top {
    padding-bottom: 15px;
    .voessen__btn2 {
      flex-basis: 125px;
      max-width: 125px;
      text-align: center;
      height: 32px;
      color: #0092d2;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 16px;
      font-weight: bold;
      border: 1px solid #0092d2;
      text-decoration: none;
      &--active {
        border-color: #9c9c9c;
        color: #9c9c9c;
      }
    }
  }
  .voessen__modal__form__title {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 15px;
  }
  .voessen__modal__right .voessen__form__inp-box--v2 {
    padding-bottom: 15px;
  }
  .mob-hidden {
    display: none;
  }
  .voessen__modal__form__footer button {
    margin-bottom: 0;
  }
  .voessen__modal__form {
    .fpad30 {
      padding-bottom: 15px;
    }
  }
  .voessen__modal__form__footer {
    padding: 0;
  }
  .voessen__modal__left__content {
    padding-bottom: 10px;
  }
  .voessen__pagination__prev {
    margin-right: auto;
  }
  .voessen__pagination__next {
    margin-left: auto;
  }
  .voessen__pagination .voessen__pagination__item {
    margin-right: 2px;
    margin-left: 2px;
  }
  .voessen__lk-home__text {
    h3 {
      font-size: 16px !important;
      padding-bottom: 15px !important;
      line-height: 20px !important;
    }
    .voessen__btn-green {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .voessen__lk-home__logo {
    width: 175px;
    height: auto;
  }
  .voessen__text {
    p,
    & li {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .voessen__text h4, .voessen__text .h4 {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 15px;
  }
  .voessen__item-product--mob-col {
    padding: 10px;
    .voessen__item-product__col-count {
      padding-bottom: 0;
    }
    .voessen__item-product__price .voessen__item-product__price__value {
      font-size: 16px;
    }
    .voessen__item-product__title {
      font-size: 16px;
    }
    .voessen__item-product__img {
      height: 150px;
    }
  }
  .voessen__banner__footer__center {
    display: none;
  }
  .voessen__banner--v1 {
    .text-left {
      text-align: center;
      padding-bottom: 15px;
    }
  }
  .voessen__konstruct {
    padding-left: 10px;
    padding-right: 10px;
  }
  .col-w120,
  .col-w100,
  .col-w200,
  .col-w-min {
    flex-basis: 50%;
    max-width: 50%;
  }
  .voessen__text h1, .voessen__text .h1, .voessen__text .h1, .voessen__text h2, .voessen__text .h2, .voessen__text .h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .voessen__product__col-pic__item {
    padding: 10px;
    height: 200px;
  }
  .voessen__product__card-bay .voessen__product__har-select {
    margin-left: 0;
  }
  .voessen__jobs-item {
    padding: 10px 10px 10px 60px;
  }
  .voessen__jobs-item__icon {
    width: 40px !important;
    height: auto !important;
    top: 10px;
    left: 10px;
  }
  .voessen__jobs-item__title {
    font-size: 18px;
    line-height: 20px;
  }
  .voessen__form__inp-box .form-label {
    padding-left: 0;
    font-size: 14px;
    line-height: 18px;
  }
  .voessen__form__inp-box .form-control.h-29 {
    height: 150px;
  }
  .voessen__rekvizit-caption {
    display: block !important;
    &__file {
      margin: 15px 0 0 0;
    }
  }
  .voessen__download-box__title {
    padding: 10px;
  }
  .voessen__text ul:not(.nav) {
    padding-left: 20px;
    li::after {
      left: -20px;
      width: 10px;
    }
  }
  .voessen__ico-left__pic {
    flex-basis: 50px;
    max-width: 50px;
    padding-right: 15px;
    justify-content: flex-start;
    padding-top: 5px;
  }
  .voessen__faq {
    padding: 0 10px 0 30px;
  }
  .voessen__faq__title {
    padding: 15px 0;
    &::after {
      left: 0;
      margin-left: -20px;
    }
  }
  .voessen__faq__title.collapsed::before {
    left: 0;
    margin-left: -15px;
  }
  .voessen__equipment__img figure img {
    width: 70px;
    height: 70px;
  }
}


@media screen and (max-width: 440px) {
  .voessen__header-caption__col-tabs {

    margin-right: -15px;
    padding-left: 0;
    padding-right: 0;
    width: 100vw !important;
    .nav-tabs {
      flex-wrap: nowrap;
      padding-left: 15px;
      .nav-item.swiper-slide {
        flex-basis: auto;
        width: auto;
      }
    }
  }
  .voessen__personal-account__nav-top {
    padding-left: 0;
    border: none;
  }
  .voessen__product__col-sort label,
  .voessen__product__col-sort .voessen__sort .btn-sort {
    font-size: 12px;
  }
  .voessen__links-section__item .nav {
    padding-left: 0;
    display: block !important;
  }
  .voessen__links-section__item .voessen__links-section__col-formula {
    padding: 0;
    margin-bottom: auto;
    flex-basis: 100px;
    max-width: 100px;
    height: auto;
  }
}