@media screen and (max-width: 1199px) {
  .music__consul-form__label {
    text-align: center;
    padding-bottom: 20px;
  }
  .music__header__top__col-nav {
    display: none;
  }
  .music__header__top__col-tel {
    margin-left: auto;
  }
  .music__item-product__fav-compare,
  .music__item-product__btn-bay {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 991px) {
  .music__footer__nav-box {
    display: none;
  }
  .music__footer__tel {
    text-align: center;
  }
  .music__footer__contact-mob {
    text-align: center;
  }
  .music__footer__email {
    margin-bottom: 20px;
  }
  .music__footer__soc {
    justify-content: center;
  }
  .music__footer__logo-mob {
    display: block;
    margin-bottom: 20px;
    svg {
      display: block;
      margin: 0 auto;
    }
  }
  .music__footer__bottom {
    text-align: center;
    .music__footer__logo {
      display: none;
    }
  }
  .music__carusel-product .swiper-container {
    padding: 0 20px !important;
    margin: 0 -20px !important;
  }
  .music__header__mob {
    display: block;
    padding-top: 10px;
    .music__header__top__col-tel {
      margin-left: auto;
    }

    &__top-row {
      padding-bottom: 10px;
    }
  }

  .music__header__top,
  .music__header__bottom {
    display: none !important;
  }

  .music__header__middle {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
    background-color: #fff;
  }
  .hidden-991 {
    display: none !important;
  }
  .music__col-toggle-cat {
    display: block;
  }

  .music__header__mob__navbar {
    justify-content: flex-end;
    li {
      flex-basis: 36px;
      max-width: 36px;
      a {
        display: flex;
        color: #565656;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
      }
    }
  }
  .music__header__mob__footer {
    border-top: 1px solid #ededed;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    .container {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .music__header__mob__bottom-row {
    padding-bottom: 5px;
  }
  .music__header__mob__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 102;
    &__top {
     padding: 5px 0;
      border-bottom: 1px solid #ededed;
      &__close {
        margin-left: auto;
        width: 24px;
        height: 24px;
      }
    }
  }
  #actionToast {
    display: none;
  }
  .music__mob-center {
    svg {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .music__header__mob__menu__list {
    padding: 15px 0;
    display: block !important;
    li {
      a {
        display: block;
        padding: 5px;
        font-size: 14px;
        color: #595959;
        line-height: 18px;
        font-weight: 500;
      }
    }
  }
  .music__home-slider__item-img,
  .music__home-slider__img-box {
    width: 100%;
  }
  .music__home-slider__text-box,
  .music__home-slider__text {
    height: auto;
  }
  .music__home-slider__text {
    padding: 30px 0;
  }
  .music__box__item--action-desc {
    padding-bottom: 30px;
  }
  .music__footer {
    padding-bottom: 72px;
  }
  .music__page__header--cat {
    justify-content: center;
    .music__page__title {
      flex-basis: 100%;
      text-align: center;
    }
    .music__catalog-top__ico {
      margin-right: auto;
      margin-left: auto;
    }
  }
  .music__product__navigation__wrap {
    display: none;
  }
  .music__section__mob-header {
    display: block;
  }
  .music__section {
    border-top: 1px solid #d9c9ba;
  }
  .music__section__mob-header__caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

    height: 60px;
    &::after {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      border-bottom: 1px solid #d9c9ba;
      border-right: 1px solid #d9c9ba;
      transform: rotate(-135deg);
      transition: all 0.3s ease-in;
    }
    &.collapsed::after {
      transform: rotate(45deg);
    }
  }
  .music__section {
    padding-top: 0;
  }
  .music__section__characteristic {
    margin-top: 0;
  }
  .music__section.music__section--border {
    border-bottom: none;
    padding-bottom: 0;
  }
  .music__gallery-item img,
  .music__next-gallery {
    height: 200px;
  }
  .music__section-mob-group {
    border-bottom: 1px solid #d9c9ba;
    margin-bottom: 50px;
  }
  .music__section {
    border-top: none;
  }
  .music__section__mob-header {
    border-top: 1px solid #d9c9ba;
  }
  .music__rev-box__wrap {
    padding-right: 0;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100vw;
      left: 100%;
      z-index: 10;
      background-color: #f8f4ef;
    }
  }
  .music__product__promo {
    margin-top: 20px;
    margin-right: auto;
  }
  .lk-top__nav {
    display: block !important;
    li {
      padding: 15px 0 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .music__section__mob-body {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  .music__callback__center {
    flex-basis: 270px;
    min-width: 270px;
    padding: 0 20px 20px;
  }
  .music__caption {
    font-size: 30px;
  }
  .music__callback__subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .music__btn-top {
    display: none;
  }
  .music__footer {
    padding-top: 25px;
  }
  .music__footer__contact-mob {
    padding-bottom: 0 !important;
  }
  .music__home-slider__item-img picture img,
  .music__home-slider__item-img,
  .music__home-slider__item-img picture {
    height: 400px;
  }
  .music__home-slider__title {
    font-size: 60px;
    line-height: 1;
  }
  .music__item-product__footer {

    .music__item-product__btn-bay {
      text-align: center;

    }
  }
  .music__carusel-product .swiper-container {
    padding: 0 15px !important;
    margin: 0 -15px !important;
  }
  .music__instagram__link.music__ico-rotate {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block !important;
    .music__instagram__link__ico {
      position: relative;
      top: auto;
      left: auto;
      height: auto;
      display: block !important;
      .music__instagram__link__name {
        top: auto;
        position: relative;
        margin-top: 15px;
      }
    }
  }
  .music__page__pagination__prev,
  .music__page__pagination__next{
    display: none;
  }
  .music__slider-set__item__action {
    top: 100%;
    right: 50%;
    margin-right: -25px;
    margin-top: -60px;
    z-index: 100;
  }
  .music__characteristic__item dt {
    font-weight: 500 !important;
    padding-bottom: 10px;
  }
  .music__rev-box {
    padding-right: 0 !important;
  }
  .music__page__single-news {
    padding: 0 0 30px;
  }
  .music__box-lk {
    padding: 50px 0;
  }
  .music__box-lk__wrap {
    padding: 30px 15px;
  }
  .music__box-lk__wrap__row,
  .music__box-lk__col-right {
    display: block !important;
  }
  .music__box-lk__col-right__col1 {
    padding-top: 50px;
  }
  .music__box-lk__col-right__col2 > div {
    text-align: center;
  }
  .music__text__adv {
    padding-bottom: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .music__consul-form__label {
    font-size: 24px;
  }
  .music__characteristic__item dt {
    font-weight: 500 !important;
    padding-bottom: 10px;
  }
  .music__home-slider__img-box {
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
  }
  .button-prev-home,
  .button-next-home {
    display: none;
  }
  .music__home-slider__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .music__home-slider__title {
    font-size: 48px;
  }
  .music__home-slider__tizer {
    font-size: 14px;
  }
  .music__btn {
    min-height: 36px;
    span {
      font-size: 16px;
    }
  }
  .music__home-link__item__title {
    font-size: 24px;
  }
  .music__nav-slider.button-next {
    right: 0;
  }
  .music__nav-slider.button-prev {
    left: 0;
  }
  .music__brends__slider .swiper-container {
    padding: 0  !important;
    margin: 0 !important;
  }

  .music__item-product {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px !important;
    .music__item-product__img {
      min-height: 250px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .music__brends__slider {
    .swiper-container {
      overflow: visible;
    }
    .music__nav-slider {
      display: none;
    }
  }
  .music__box__item__footer {
    padding: 15px 20px;
  }
  .fpad30 {
    padding-bottom: 10px;
  }
  .fpad40 {
    padding-bottom: 20px;
  }
  .tpad70 {
    padding-top: 30px;
  }
  .col-mob-hidden {
    display: none !important;
  }
  .only-mob,
  .music__carusel-product .swiper-scrollbar {
    display: block;
  }
  .music__home-slider__item-img picture img,
  .music__home-slider__item-img,
  .music__home-slider__item-img picture  {
    height: 200px;
  }
  .music__page__pagination__nav li {
    padding: 0;
  }
  .music__page__title {
    font-size: 30px;
  }
  .music__filter-box__dropdown-menu {
    left: auto !important;
    margin-left: 0 !important;
    &.show {
      /*transform: translate3d(0, 38px, 0px) !important;*/
    }
  }
  .music__filter-box__dropdown-menu::after {
    display: none;
  }
  .music__text h1, .music__text .h1 {
    font-size: 30px;
    line-height: 1.3;
  }
  .music__header__mob__logo {
    svg {
      width: 100%;
      height: auto;
      max-width: 130px;
    }
  }
  .music__header__top__col-tel .tel {
    font-size: 14px;
  }
  .music__header__top__col-tel .music__header__work-time {
    font-size: 9px;
  }
  .music__product__slider__min-img {
    display: none;
  }
  .music__produc__title-mob {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    font-family: Phenomena, sans-serif;
    font-weight: bold;
    display: block;
  }
  .music__product__top-right h1 {
    display: none;
  }
  .music__brend.music__brend--min {
    display: block !important;
  }
  .order-info__btn {
    justify-content: center !important;
    padding-top: 15px;
  }
}

@media screen and (max-width: 440px) {
  .music__carusel-product {
    .music__nav-slider {
      display: none;
    }
  }
  .music__carusel-product .swiper-container {
    padding: 0 !important;
    margin: 0 !important;
  }
  .music__box__item__img img {
    height: 150px;
  }
  .music__box__item__img--h37 img {
    height: 280px;
  }
  .music__home-slider__item-img picture img,
  .music__home-slider__item-img,
  .music__home-slider__item-img picture  {
    height: 150px;
  }
  .music__product-pic__item {
    height: 300px;
  }
  .music__product__slider__big-img {
    width: 100%;
  }
  .music__product__slider {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
  }


}